
/* Font */

@font-face {
	font-family: 'Genshin';
	src: url('./assets/Genshin-Impact-Font.ttf');
}

/* General styles */

:root {
  --white: rgb(255 255 255);
  --beige: rgb(255 238 204);
  --light-brown: rgb(167 127 103);
  --haselnut: rgb(134 93 68);
  --brown: rgb(105 80 80);
  --dark-brown: rgb(70 49 48);
  --rust: rgb(152 64 27);
}

html {
	scroll-behavior: smooth;
  height: 100%;
}

body {
	min-height: 100svh;
  height: 100%;
	margin: 0;
	padding: 0;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
  font-family: 'Genshin', serif;
  color: var(--brown);
	background-color: var(--beige);
	overflow-x: clip;
}

header, main, footer {
  width: 100%;
  display: flex;
}

a {
  text-decoration: wavy;
  color: var(--rust);
  transition: color ease-in-out 0.4s;
}

a:hover {
  color: var(--light-brown);
}

/* Header */

header {}

.header-div {
  margin: 0.7rem;
  padding: 0.8rem;

  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border: solid 0.2rem var(--brown);
  border-radius: 1rem;
}

h1 {
  margin: 0;
  margin-left: auto;
  padding: 0;

  font-size: 1.3rem;
  text-align: center;
}

nav {
  margin-left: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.nav-btn {
  cursor: pointer;

  margin: 0.2rem;
  padding: 0.2rem;

  width: 2rem;
  height: 2rem;

  appearance: none;
  border: none;

  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  filter: brightness(0) saturate(100%) invert(32%) sepia(3%) saturate(3548%) hue-rotate(314deg) brightness(93%) contrast(82%);
}

.nav-btn:hover {
  transform: scale(1.2);
  filter: brightness(0) saturate(100%) invert(56%) sepia(8%) saturate(1589%) hue-rotate(339deg) brightness(93%) contrast(85%);
}

.battle {
  background-image: url(./assets/icons/battle.png);
}

.profile {
  background-image: url(./assets/icons/profile.png);
}

.edit {
  background-image: url(./assets/icons/edit.png);
}

/* Main */

main {
  height: 100%;
}

.main-div {
  margin: 0 0.7rem;
  padding: 0.8rem;

  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 0.2rem var(--brown);
  border-radius: 1rem;
}

.reg-div,
.battle-div,
.profile-div,
.settings-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

input[type='text'] {
  padding: 0.1rem 0.2rem;
  appearance: none;
  border: 0.15rem solid var(--brown);
  border-radius: 0.3rem;
  font-family: 'Genshin', serif;
  color: var(--brown);
}

.btn {
  cursor: pointer;

  margin: 0.3rem;
  padding: 0.5rem 0.7rem;

  width: fit-content;

  appearance: none;
  border: none;
  border-radius: 0.5rem;

  font-family: 'Genshin', serif;
  color: var(--white);
  background-color: var(--brown);

  transition: background-color 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--light-brown);
}

.profile-div {
  margin-bottom: 1rem;
}

.character-pic {
  max-height: 300px;
}

/* Footer */

footer {}

.footer-div {
  margin: 0.7rem;
  padding: 0.7rem 1rem;

  width: 100%;

  border: solid 0.2rem var(--brown);
  border-radius: 1rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.github-credit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-credit p {
  margin: 0.2rem;
  font-size: 0.7rem;
}

.github-paragraph {
  display: flex;
  gap: 0.3rem;
}

.rss-link {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.rss-link:hover {
  transform: scale(1.15);
}

/* Error Dialog */

.error-dialog[open] {
  margin: auto;
  padding: 1rem;

  border: 0.2rem solid var(--brown);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Genshin', serif;
  color: var(--brown);

  background-color: var(--beige);
}

.hid {
  display: none;
}
